@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    /* 1 */
    border-width: 0;
    /* 2 */
    border-style: solid;
    /* 2 */
    border-color: #e5e7eb;
    /* 2 */
}

::before,
::after {
    --tw-content: "";
}

html,
:host {
    line-height: 1.5;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    -moz-tab-size: 4;
    /* 3 */
    -o-tab-size: 4;
    tab-size: 4;
    /* 3 */
    font-family: "Philosopher", sans-serif, ui-sans-serif, system-ui;
    /* 4 */
    font-feature-settings: normal;
    /* 5 */
    font-variation-settings: normal;
    /* 6 */
    -webkit-tap-highlight-color: transparent;
    /* 7 */
}

body {
    margin: 0;
    /* 1 */
    line-height: inherit;
    /* 2 */
}

p {

            font-family: "Poppins", sans-serif;
            font-style: normal;
            font-size: 12px;

}

.nav-item {
    font-size: 14px;
}

.brand,
.brand:hover {
    font-family: "Philosopher", sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
    color: #34393d;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.btn-close:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.offcanvas {
    width: 20rem;
    background-color: #f5f5f5;
    opacity: 0.9;
}

.offcanvas-header {
    padding: 0 1.5rem;
    padding-top: 1.5rem;
}

.offcanvas-body {
    padding: 1.5rem;
}

.offcanvas .menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0;
    font-size: 1rem;
}

.menu-item:hover {
    opacity: 0.5;
}

.menu-item:not(:hover) {
    opacity: 1;
}

.offcanvas .menu-footer {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.offcanvas .menu-footer .btn {
    flex: 1;
    text-align: center;
}

.cart-item img {
    max-width: 100px;
    height: auto;
}
.table td, .table th {
    vertical-align: middle;
}
.subtotal {
    font-weight: bold;
}

/* Custom style for remove button */
.btn.remove-item {
    background-color: #6c757d; /* gray */
    color: white;
    border: none; /* Remove border */
}

.btn.remove-item:focus {
    outline: none; /* Remove focus outline */
}

.btn.remove-item:hover {
    background-color: #5a6268; /* dark gray on hover */
}

/* Custom style for Back and Checkout buttons */
.btn-back, .btn-checkout {
    background-color: #000000; /* black background */
    color: white; /* white text */
    border: none; /* remove border */
}

.btn-back:hover, .btn-checkout:hover {
    background-color: #333333; /* dark grey on hover */
    color: white;
}

.quantity-input {
    width: 60px;
    text-align: center;
}
.btn-quantity {
    width: 38px;
    height: 38px;
    line-height: 0.5;
    padding: 0;
    font-size: 1rem;
}
/* .special-instructions textarea {
    height: 100px;
} */
.checkout-btn {
    border-radius: 0;
}
.table th, .table td {
    vertical-align: middle;
}
.card {
    border: none;
    border-radius: 10px;
}

.btn-outline-secondary {
    border-radius: 20px;
}

.list-group-item {
    border: none;
}

.form-select {
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: gray;
}

.quantity-input {
            width: 60px;
            text-align: center;
        }
        .btn-quantity {
            width: 30px;
            height: 30px;
            line-height: 0.5;
            padding: 0;
            font-size: 1rem;
        }
        .special-instructions textarea {
            height: 100px;
        }
        .checkout-btn {
            border-radius: 0;
        }
        .table th, .table td {
            vertical-align: middle;
        }
